/*------ Main styles ------*/

.container {
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  grid-template-rows: 3.5rem 1fr;
  overflow: hidden;
}
/*------ Top-Nav ------*/
nav.top-bar {
  width: 100%;
  height: 3.5rem;
  z-index: 100;
  background-color: var(--more-dark-blue);
  app-region: drag;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.7rem 0rem 0.7rem;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  position: relative;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  app-region: none;
}
.logo img {
  width: 2rem;
  -webkit-user-drag: none;
}
.logo h1 {
  font-size: 0.92rem;
  margin-left: 0.7rem;
  user-select: none;
  letter-spacing: 1px;
}
.tasks {
  display: flex;
  app-region: none;
}
.tasks .btns {
  cursor: pointer;
  margin-left: 2rem;
}
.tasks .minimize-btn {
  margin-left: 0;
}
.tasks .btns svg {
  width: 1rem;
  height: 100%;
}
.tasks .minimize-btn svg {
  margin-left: 0;
}
.tasks .btns svg path {
  transition: all 200ms ease-in-out;
}
.tasks .btns:hover svg path {
  fill: var(--light-green);
}
.title-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title-indicator h1 {
  font-size: 0.9rem;
  font-family: "Poppins-Regular";
  letter-spacing: 1px;
}
/*--------------------------------------------*/

/*------ Side-Bar ------*/
.side-bar {
  width: 3.5rem;
  height: 100%;
  background-color: var(--very-dark-blue);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
}
.menu-container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu .link {
  width: 85%;
  aspect-ratio: 1 / 1;
  background-color: var(--more-dark-blue);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  position: relative;
}
.menu .link:hover {
  background-color: var(--light-green);
}
.menu .link img {
  width: 1.3rem;
  -webkit-user-drag: none;
  user-select: none;
}
.link.active {
  background-color: var(--light-green);
}
.about-btn {
  position: absolute;
  bottom: 0.5rem;
  width: 85%;
  aspect-ratio: 1 / 1;
  background-color: var(--more-dark-blue);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.about-btn:hover {
  background-color: var(--light-green);
}
.about-btn img {
  width: 1.3rem;
  -webkit-user-drag: none;
  user-select: none;
}
.link-indicator {
  position: absolute;
  width: 8rem;
  height: 1.7rem;
  z-index: 100;
  background-color: var(--light-green);
  left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.link-indicator .link-name {
  font-family: "Poppins-Semibold";
  font-size: 0.8rem;
  display: block;
  z-index: 101;
}
.menu .link:hover > .link-indicator {
  opacity: 1;
  visibility: visible;
  left: 4rem;
}
.link-indicator .link-arrow {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--light-green);
  left: -0.2rem;
  transform: rotate(45deg);
  z-index: 90;
}
.about-btn:hover > .link-indicator {
  opacity: 1;
  visibility: visible;
  left: 4rem;
}
/*--------------------------------------------*/

/*------ Main-Contant ------*/
.main-content {
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
}
.tab {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.tab.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/*--- Home-tab ---*/
.home {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
  transform: translateY(-100%);
  overflow: hidden;
}
.home.active {
  opacity: 1;
  visibility: visible;
  z-index: 60;
  transform: translateY(0);
}
.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.home-container h1 {
  font-family: "Poppins-Light";
  font-size: 3rem;
  margin-bottom: 2rem;
}
.home-container h1 .user-name {
  font-family: "Poppins-Semibold";
  color: var(--light-green);
}
.three-dots {
  width: 5rem;
  opacity: 0.7;
}
.home-desc {
  font-family: "Poppins-Light";
  font-size: 1.1rem;
  line-height: 2.5rem;
}
.home-desc span {
  color: var(--light-green);
}
.social-title {
  font-family: "Poppins-Light";
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.social-imgs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.social-link {
  margin: 1rem;
  cursor: pointer;
}
.social-link img {
  width: 3rem;
  transition: all 200ms ease-in-out;
  user-select: none;
  -webkit-user-drag: none;
}
.social-link:hover img {
  transform: translateY(-0.5rem);
}
.overlay {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  transform: translate(20%, 20%);
  opacity: 10%;
  mix-blend-mode: overlay;
  z-index: -1;
  width: 70%;
}
.overlay img {
  width: 100%;
}
.overlay2 {
  position: absolute;
  left: 0rem;
  top: 0rem;
  opacity: 10%;
  mix-blend-mode: overlay;
  z-index: -1;
  width: 30%;
  transform: rotate(-90deg);
}
.overlay2 img {
  width: 100%;
}
.app-version {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-family: "Poppins-Light";
}
.app-version span {
  color: var(--light-green);
}
/*-------------------*/
/*--- System-info-tab ---*/
.system-container {
  width: 80%;
  height: 80%;
  display: none;
}
.system-container.show {
  display: unset;
}
.infos-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
}
.infos-table th,
.infos-table td {
  background-color: var(--very-dark-blue);
  outline: 3px solid #34495e;
}
.infos-table th {
  font-family: "Poppins-Semibold";
  background: linear-gradient(271.02deg, #263341 0.97%, #2c3e50 74.28%);
}
.infos-table td {
  padding-left: 1rem;
  font-size: 0.9rem;
}
td.part {
  font-size: 1rem;
  padding-right: 2rem;
  font-family: "Poppins-Medium";
  text-align: center;
}
td.part img {
  width: 1.2rem;
  margin-right: 0.5rem;
  margin-bottom: -3px;
}
.sys-info-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.sys-info-loading img {
  mix-blend-mode: screen;
  width: 10%;
  height: fit-content;
}
.sys-info-loading.show {
  display: flex;
}
.system-shape-one {
  transform: translate(30%, 30%);
}
/*-------------------*/

/*--- Display-test-tab ---*/
.dis-test-container {
  width: 90%;
  height: 75%;
  display: flex;
  justify-content: space-between;
}
.dis-test-container .col-1,
.dis-test-container .col-2 {
  width: 45%;
  height: 100%;
  background: linear-gradient(
    140.8deg,
    var(--very-dark-blue) 9.41%,
    var(--more-dark-blue) 85.67%
  );
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 2rem;
  overflow: hidden;
  position: relative;
}
.dis-test-container .col-1 h1,
.dis-test-container .col-2 h1 {
  font-size: 1.5rem;
}
.dis-test-container .col-1 h3,
.dis-test-container .col-2 h3 {
  font-size: 1rem;
  font-family: "Poppins-Medium";
}
.videos-content-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.video-content {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  align-items: center;
}
.video-content:first-child {
  margin-top: 0;
}
.video-content a {
  color: var(--light-green);
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border: 3px solid var(--light-green);
  border-radius: 1rem;
  font-family: "Poppins-Light";
  font-size: 0.9rem;
}
.dis-test-container .col-2 a {
  color: var(--light-green);
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border: 3px solid var(--light-green);
  border-radius: 1rem;
  font-family: "Poppins-Light";
  font-size: 0.9rem;
  width: fit-content;
}
.dis-test-container .col-1 p {
  margin-left: 1.5rem;
  text-align: left;
}
.dis-test-container .col-1 p,
.dis-test-container .col-2 p {
  font-family: "Poppins-Light";
  font-size: 0.9rem;
}
.dis-test-container a {
  transition: all 200ms ease-in-out;
}
.dis-test-container a:hover {
  background-color: var(--light-green);
  color: var(--white);
  font-weight: 600;
}
.page-1,
.page-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  padding: 2rem;
  transition: all 200ms ease-in-out;
}
.page-1.hide {
  opacity: 0;
  visibility: hidden;
}
.page-2 {
  opacity: 0;
  visibility: hidden;
}
.page-2.show {
  opacity: 1;
  visibility: visible;
}
.page-2 p {
  font-family: "Poppins-Medium" !important;
}
.display-test {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999999;
  display: none;
  background-color: var(--very-dark-blue);
  flex-direction: column;
  overflow: hidden;
}
.display-test.active {
  display: flex;
}
.display-test img {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: all 200ms ease-in-out;
}
.back img {
  width: 100%;
  height: 100%;
}
.back:hover {
  background-color: var(--more-dark-blue);
}
.track {
  transition: all 500ms ease-in-out;
}
/*-------------------*/

/*--- Battery-info-tab ---*/
.bat-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bat-info-container .col {
  width: 50%;
  height: 80%;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bat-info-container .col.show {
  display: flex;
}
.bat-info-container table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
}
.bat-info-data {
  width: 100%;
  background-color: var(--very-dark-blue);
  outline: 3px solid #34495e;
  text-align: center;
  font-family: "Poppins-Semibold";
}
.bat-info-data span {
  color: var(--light-green);
}
.bat-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bat-loading img {
  width: 10%;
  mix-blend-mode: screen;
}
.bat-loading.hide {
  display: none;
}

/*-------------------*/

/*--- About-info-tab ---*/
.overlay.about-shape-one {
  transform: translate(30%, 35%);
}
.about-container {
  width: 90%;
  height: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-container .col-1,
.about-container .col-2 {
  width: 47%;
  height: 100%;
  background: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.about-container .col-2 {
  background: linear-gradient(
    140.8deg,
    var(--very-dark-blue) 9.41%,
    var(--more-dark-blue) 85.67%
  );
}
.about-container h1 {
  font-size: 1.5rem;
}
.about-dev-content {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
}
.social-media-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}
.social-media-container a svg {
  width: 2rem;
  height: 100%;
}
.about-container .col-1 p span {
  color: var(--light-green);
}
.social-media-container a svg path {
  transition: all 200ms ease-in-out;
}
.social-media-container a:hover > svg path {
  fill: var(--light-green);
}
.about-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  mix-blend-mode: color-dodge;
  opacity: 40%;
}
.about-bg img {
  aspect-ratio: 1/1;
  width: 130%;
  user-select: none;
  -webkit-user-drag: none;
}

/*- Update-styling -*/
.check-update {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: none;
}
.check-update.active {
  display: flex;
}
.check-update .top,
.check-update .bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.check-update .top p {
  font-family: "Poppins-Light";
}
.check-update .top p span {
  color: var(--light-green);
}
.check-update .bottom .check-for-update {
  color: var(--light-green);
  padding: 0.4rem 1rem;
  border: 3px solid var(--light-green);
  border-radius: 1rem;
  font-family: "Poppins-Light";
  font-size: 0.9rem;
  font-family: "Poppins-Semibold";
  transition: all 200ms ease-in-out;
}
.check-update .bottom .check-for-update:hover {
  background-color: var(--light-green);
  color: var(--white);
}

.update-loading {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}
.update-loading img {
  width: 30%;
  mix-blend-mode: screen;
  user-select: none;
  -webkit-user-drag: none;
}
.update-loading.active {
  display: flex;
}

.no-update-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: none;
}
.no-update-found.active {
  display: flex;
}
.no-update-found p {
  font-family: "Poppins-Light";
}
.no-update-found p span {
  color: var(--light-green);
}
.back-btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.back-btn img {
  width: 60%;
}
.back-btn:hover {
  background: var(--more-dark-blue);
}

.update-found {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.update-found.active {
  display: flex;
}
.update-found .top,
.update-found .bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.update-found .top {
  margin-top: 5%;
}
.update-found .top p {
  font-family: "Poppins-Light";
}
.update-found .top p span {
  color: var(--light-green);
}
.update-found .bottom .download-update {
  color: var(--light-green);
  padding: 0.4rem 1rem;
  border: 3px solid var(--light-green);
  border-radius: 1rem;
  font-family: "Poppins-Light";
  font-size: 0.9rem;
  font-family: "Poppins-Semibold";
  transition: all 200ms ease-in-out;
}
.update-found .bottom .download-update:hover {
  background-color: var(--light-green);
  color: var(--white);
}

.downloading-update {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.downloading-update.active {
  display: flex;
}
.downloading-update .top,
.downloading-progress-con {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.downloading-update p {
  font-family: "Poppins-Light";
}
.downloading-update p span {
  color: var(--light-green);
}
.progress-circle {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.progress-circle svg {
  position: relative;
  width: 8.7rem;
}
.progress-circle svg circle {
  fill: none;
  stroke-width: 5px;
  transform: translate(10px, 10px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}
.progress-circle svg circle:first-child {
  stroke-dashoffset: 0;
  stroke: var(--dark-blue);
}
.download-progress {
  stroke: var(--light-green);
}
.progress-circle .number {
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-circle .number p {
  font-family: "Poppins-Semibold";
  font-size: 1.5rem;
  color: var(--light-green);
}
.download-speed {
  font-family: "Poppins-Medium" !important;
  font-size: 0.8rem;
}

.update-downloaded {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.update-downloaded.active {
  display: flex;
}
.update-downloaded .top,
.update-downloaded .bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.update-downloaded .top p {
  font-family: "Poppins-Light";
}
.update-downloaded .bottom p {
  font-family: "Poppins-Medium";
}
.update-downloaded .restart {
  color: var(--light-green);
  padding: 0.4rem 1rem;
  border: 3px solid var(--light-green);
  border-radius: 1rem;
  font-family: "Poppins-Light";
  font-size: 0.9rem;
  font-family: "Poppins-Semibold";
  transition: all 200ms ease-in-out;
}
.update-downloaded .restart:hover {
  background-color: var(--light-green);
  color: var(--white);
}
.app-offline {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.app-offline.active {
  display: flex;
}
.offline-back-btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.offline-back-btn img {
  width: 60%;
}
.offline-back-btn:hover {
  background: var(--more-dark-blue);
}
.update-error {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.update-error.active {
  display: flex;
}
.error-back-btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.error-back-btn img {
  width: 60%;
}
.error-back-btn:hover {
  background: var(--more-dark-blue);
}
/*-------------------*/
/*--------------------------------------------*/

/*- Splash screen styling -*/
.splash {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  app-region: drag;
  z-index: 9999;
}
.splash img {
  mix-blend-mode: screen;
  width: 10%;
}

.splash.hide {
  display: none;
}

/*-------------------*/
